html , body{
    margin: 0 ;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#e4d4b2;
}

.container{
    width: 20%;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    margin-top:10%;
    
}

#inputField{
    width: 80%;
    height: 100%;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
}


#addToDo{
    height: 35%;
    width: 15%;
    border: 1px solid black;
    font-size:25px;
    cursor: pointer;
    transition: 0.3s;
}

#addToDo:hover{
    background-color: #646060;
    transition: 0.3s;
}
#addToDo:active{
    background-color: #484545;
}

.to-dos{
    margin-top:25px;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-style: 20px;
    width: 50%;
    margin-top: 4px;
    display: inline-flex;
}

.delete-styling{
    margin:0;
    background-image: url("img/trash-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px; 
    height: 20px;
    border-radius:50%;
    cursor: pointer;
    float: right;
}